* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.tasiyici {
  /* border: 2px solid red;  */
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.App {
  background-color: antiquewhite;
}

.anaDiv {
  position: relative;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.791);
  overflow: hidden;
  width: 300px;
  height: 400px;
  opacity: 0.7;
  border-radius: 20px;
}

.anaDiv:hover {
  opacity: 1;
}

.imgP {
  /* border: 2px solid red; */
}

p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  font-weight: 700;
  color: whitesmoke;
  font-size: 1.2rem;
}

.title {
  /* border: 2px solid blue; */
  background-color: rgba(0, 0, 0, 0.8);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 20px;
  padding: 15px;
  color: whitesmoke;
  position: absolute;
  bottom: 0;
  text-align: justify;
  transition: transform 2s ease;
  font-size: 1.2rem;
  height: 150px;
  width: 100%;
  overflow: hidden;
  right: 0;
  transform: translateX(100%);
}

.anaDiv:hover .title {
  transform: translateX(0%);
}

img {
  /* border: 2px solid blue;      */
  width: 300px;
  height: 400px;
  object-fit: cover;
}

h4 {
  /* border: 2px solid red; */
}

h1 {
  text-align: center;
  padding: 20px;
  color: blueviolet;
  font-size: 3rem;
}

ul {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 20px;
}

button {
  color: rgb(83, 80, 80);
  background-color: rgb(203, 176, 228);
  font-size: 1rem;
  text-align: center;
  border-radius: 15px;
  padding: 10px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: blueviolet;
  color: whitesmoke;
}
